.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    .item {
        display: flex;
        background: #fff;
        margin-bottom: 10px;
        line-height: 40px;
        border: 1px dashed #ccc;
        padding: 0 10px;
        color: #ccc;
        &:last-of-type {
            margin-bottom: 20px;
        }
    }
}