.footer {
    padding: 10px 10px;
    .list {
        list-style: none;
        margin: 0;
        padding: 0;
        .item {
            line-height: 28px;
            font-size: 14px;
            .link {
                color: #545c63;
                text-decoration: none;
            }
        }
    }
    .copyrights {
        font-size: 12px;
        margin-top: 8px;
        color: #93999f;
        line-height: 24px;
        font-weight: 300;
    }
}