.banner {
    height: 530px;
    // https://serverless-wangly-static-files.oss-cn-beijing.aliyuncs.com/images/bg.jpg
    background: url('https://serverless-wangly-static-files.oss-cn-beijing.aliyuncs.com/images/bg.jpg') no-repeat top center/100% 380px;
    position: relative;
    .person {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 150px;
        background: #fff;
        .avatar {
            position: absolute;
            top: -70px;
            left: 20px;
            width: 200px;
            height: 200px;
            background: rgb(7, 81, 110);
            border-radius: 20px;
        }
        .title {
            margin-left: 280px;
            margin-top: 10px;
            line-height: 50px;
            font-size: 28px;
            color: #000;
        }
        .description {
            line-height: 32px;
            font-size: 18px;
            margin-left: 280px;
            margin-right: 30px;
            color: #333;
        }
    }
}